/*Elements*/
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #2B3240;
    overflow-x: hidder;
    position: relative;
}
h1, h2, h3, a {
    font-family:"Tomorrow", sans-serif;
}
h1 {
    color: azure;
    font-size: 3em;
    font-weight: 700;
    padding-top: 20px;
}
h2 {
    text-align: center;
    font-size: 1.8rem;
    text-align: center;
}
p, li {
    font-family: "Roboto", sans-serif;
}
p {
    font-size: 1rem;
}
li {
    list-style: none;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 100%;
    z-index: 10;
    background-image: url(images/blur-snow.jpg);
    background-size: cover;
    background-color: #2B3240;
}
nav {
    justify-content: space-around;
}
section {
    display: block;
    padding: 0.75rem;
    margin: 1rem auto;
    max-width: 1000px;
    height:auto;
    background: #8596A6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  div {
    display: block;
    unicode-bidi: isolate;
  }
 article {
    margin-bottom: 2rem;
 }
img{
    max-width: 600px;
    height: auto;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  .container {
    width: 80%;
    margin-inline: auto;
  }

/*Header Section*/
#main-nav a {
    color:azure;
    display:inline-block;
    padding: 1em;
    text-decoration:none;
    font-size: 1.2rem;
    transition: color 0.5s ease;
}
#main-nav li {
    float: left;
}
#main-nav a:hover{
    color: #F2DE77;
}

/*Introduction Section*/
#introduction {
    padding: 0 .5rem;
    position: relative;
}

/*Science Section*/
#science {
    padding: 0 .5trem;
    position: relative;
}
#science p {
    text-align: left;
}

/*Hemisphere Section*/

/*#hemispheres {
    padding: 0 .5rem;
    position: relative;
    height: auto;
}
#hemispheres h3 p {
    text-align: left;
    display: inline-block;
}
.hemisphere-items {
    position: relative;
    display: inline-block;
 }
 .text-box {
    position: absolute;
    height: 100%;
    text-align: center;    
    width: 100%;
 }
 .text-box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
 }*/
 .hemisphere-image img{
   display: block;
   max-width: 200px;
   float: right;
   height: auto;
 }



/*Celebration Section*/
section #celebrations {
    padding: 0 1rem;
    position: relative;
    display: flex;
    align-items: normal;
    flex-direction: column;
    flex-wrap: wrap;
}
#celebration p {
    text-align: left;
}
#celebrations .title {
    align-content:flex-start;
    flex-direction: column;
}
#celebration-articles {
    flex-direction: row;
    align-content: flex-end;
    flex: 1;
}
.celebreation .image {
    position: relative;
    max-width: 200px;
}

/*Footer Section*/
footer {
    background-color: #282c34;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%; 
}
footer nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    
}
footer nav li {
    display: inline;
    margin: 0 10px;
}
footer nav a {
    color: azure;
    text-decoration: none;
    transition: color 0.5s ease;
}
footer nav a:hover {
    color: #F2DE77;
}